h1,
h2,
.mb-3,
.row,
.col {
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  color:#c06c84;
  line-height: 45px;
  text-align: left;
}

h2 {
  color: #6C5B7B;
  line-height: 30px;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
}

.card {
  background-color: #F9f1f1;
  top: 10px;
  right: 5px;
  left: 5px;
  border: 2px solid #355C7D;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #355c7d;
}

.mb-3 {
  text-align: center;
  padding: 10px;
}

.fa-cloud-sun {
  font-size: 150px;
  position: relative;
  left: 55px;
  top: -40px;
}
.city {
  font-size: 55px;
  font-weight: bolder;
  padding: 5px;
}

.day {
  font-size: 35px;
  font-weight: lighter;
  padding: 5px;
}

.time {
  font-size: 35px;
  padding: 5px;
  font-weight: lighter;
}

.temp {
  font-size: 80px;
  font-weight: bolder;
  position: relative;
  left: 75px;
  top: 25px;
}

.btn-primary {
  color: #F8B195;
  background-color: #355c7d;
  border-color: #355c7d;
}

.row {
  text-align: center;
}

.days {
  font-size: 20px;
  color: #F67280;
  font-weight: bold;
}

.highLows {
  font-size: 18px;
  font-style: italic;
  color: #6C5B7B
}

.icons {
  color: #F8b195;
  font-size: 40px;
  position: relative;
  bottom: -5px;
}

h5 {
  padding: 15px;
  line-height: 25px;
  text-align: center;

}