body {
  background-color: #f0ffff;
}

h1,
h2,
.mb-3,
.row,
.col {
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  color:#c06c84;
  line-height: 65px;
  text-align: center;
  font-weight: bolder;
}
ul {
  margin: 0;
  padding: 0;

}
li {
  list-style-type: none;
  text-align: center;
  line-height: 20px;
}
a {
  text-decoration: none;
  color: #355C7D; ;
}
a:hover{
  color:  #F67280;
}
h5 {
  text-align: center;
  padding: 10px;
}
.weatherApp{
  max-width: 700px;
  margin: 30px auto;
  padding: 15px;
}
.card {
  background-color: #F9f1f1;
  border: 2px solid #355C7D;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #355c7d;
}

.mb-3 {
  text-align: center;
  padding: 10px;
  border-color:#355c7d;;
}

.city {
  font-size: 55px;
  font-weight: bolder;
  padding: 5px;
}
.dayTime{
 color: #F67280;
 font-size: 30px;
 font-weight: lighter;
}
.description {
color:#355c7d;
font-weight: bold;
position: relative;
bottom: 5px;
}

.weatherAttributes{
  color:#355c7d;
  position: relative;
  top: 10px;
  font-weight: lighter;
}

.currentWeather{
  color: #6C5B7B;
  text-align: right;
  font-size: 75px;
  font-weight: lighter;
}

.units{
  font-size: 20px;
  position: relative;
  top: -55px;
  left: -10px;
  font-weight: bold;
}

.currentWeather .active {
  color: #F67280;
  text-decoration: none;
}
.currentWeather .active:hover {
  text-decoration: none;
}
.btn-primary {
  color: #F8B195;
  background-color: #355c7d;
  border-color: #355c7d;
}
.btn-primary:hover{
  background-color:#F8B195;
color: #355c7d;
  border-color: #355c7d;
}
.forecast {
  text-align: center;
  position: relative;
  top: 20px;
  
}
.days {
  font-size: 25px;
  color: #F67280;
  font-weight: bold;
}

.highLows {
  font-size: 16px;
  font-style: italic;
  color: #6C5B7B;
}

.icons {
  color: #F8b195;
  font-size: 40px;
  position: relative;
  bottom:10px;
}

#weatherDescription{
  text-transform: capitalize;
}
#weatherPrecipitation{
  text-transform: capitalize;
}
#weatherHumidity{
  text-transform: capitalize;
}